/* Configuración inicial para darle perspectiva */
.first-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video-section {
  min-height: 80vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section {
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
}
  .first-content, .video-content, .about-content {
    transform: translateZ(20px);
    transition: transform 0.3s ease-out;
  }
  
