.appBackground {
    position: relative; /* Este podría ser necesario si tienes elementos dentro de esta sección que deben ser posicionados en relación con ella */
    overflow: auto;
    height: 100vh; /* La sección ocupa al menos el 100% de la altura de la ventana */
    background-image: url('./assets/relaxing_water.gif');
    background-size: cover; /* Asegura que la imagen cubra toda la sección sin deformarse */
    background-position: center; /* Centra la imagen de fondo */
    background-attachment: fixed; /* Fija la imagen al fondo cuando se hace scroll (opcional) */
  }